# IDE
/.idea
/.vscode
/.fleet
/.zed

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.backup
.env.production
.env.*.local

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Docker
/docker/data
